[submodule "tools/help_text"]
	path = tools/help_text
	url = https://github.com/bschnitz/help_text.git
	branch = help_text
[submodule "tools/ptt"]
	path = tools/ptt
	url = https://github.com/bschnitz/python_terminal_tools.git
	branch = ptt
